*~
controller_train/manifests/params.pp
controller_train/files/id_rsa_ctrl-01
controller_train/files/id_rsa_controller-01
controller_train/files/INFN-CA.pem
controller_train/files/cafile.pem
controller_train/files/ceph.conf
controller_train/files/ceph-ec.conf
controller_train/files/ceph.client.cinder-prod.keyring
controller_train/files/ceph.client.cinder-cloudtest.keyring
controller_train/files/ceph.client.glance-prod.keyring
controller_train/files/ceph.client.glance-cloudtest.keyring
compute_train/manifests/params.pp
compute_train/files/id_rsa_ctrl-01
compute_train/files/id_rsa_controller-01
compute_train/files/INFN-CA.pem
compute_train/files/cafile.pem
compute_train/files/ceph.conf
compute_train/files/nagios_check_ovs.sh
compute_train/files/check_kvm_wrapper.sh
compute_train/files/secret.xml
compute_train/files/secret_test.xml
