class controller_ussuri::params ($cloud_role){


  if $::controller_ussuri::cloud_role == "is_production" {

   ##########################################
   # Cloud di produzione
   $site_fqdn = "cloud-areapd.pd.infn.it"
   $cv_site_fqdn = "cloudveneto.ict.unipd.it"
   $keystone_cap_fqdn = "keystone-cv.pd.infn.it"
   $keystone_cv_fqdn = "keystone-cv.ict.unipd.it"
   $admin_password = ''
   $admin_token = ''
   $auth_uri = 'http://xxx.xxx.xxx.xxx:5000'
   $auth_url = 'http://xxx.xxx.xxx.xxx:5000'
   #########
   $ceilometer_connection = ''
   $ceilometer_password = ''
   $ceilometer_service_credentials_auth_url = ''
   $cinder_ceph_rbd_pool = ''
   $cinder_ceph_rbd_secret_uuid = ''
   $cinder_ceph_rbd_user = ''
   $cinder_db = ''
   ## FF da queens cambia la porta, /etc/cinder/cinder.conf [keystone_authtoken] auth_uri = http://controller:5000 e auth_url = http://controller:5000
   $cinder_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
   $cinder_password = ''
   $cinder_public_endpoint = ''
   #$ec2_admin_password = ''
   $ec2_db = ''
   $ec2_password = ''
   $ec2_external_network = ''
   $ec2_keystone_url = ''
   $glance_api_rbd_store_pool = ''
   $glance_api_rbd_store_user = ''
   $glance_api_servers = ''
   $glance_db = ''
   ## FF da queens per glance [keystone_authtoken] auth_url gira sulla porta 5000
   $glance_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
   $glance_password = ''
   $keystone_admin_endpoint =  ''
   $keystone_db =  ''
   $keystone_public_endpoint =  ''
   ## FF in rocky [keystone_authtoken] auth_uri diventa www_authenticate_uri
   ## Ma secondo la documentazione bisogna specificare l'endpoint pubblico
   $www_authenticate_uri = 'https://xxx.xxx.xxx.xxx:5000'
   ##
   $heat_db = ''
   $heat_metadata_server_url = ''
   $heat_password = ''
   $heat_stack_domain_admin_password = ''
   $heat_waitcondition_server_url = ''
   $memcached_servers = ''
   $memcached_servers_horizon = ''
   $metadata_proxy_shared_secret = '' 
   $ml2_network_vlan_ranges = '' 
   $ml2_bridge_mappings = ''
   ## FF in rocky in nova [neutron] auth_url passa da 35357 a 5000
   $neutron_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
   $neutron_db = ''
   $neutron_password = ''
   # FF  DEPRECATED in ROCKY in  nova [neutron]url diventa [neutron]endpoint_override
   #$neutron_url = ''
   $neutron_endpoint_override = ''
   ##FF in rocky per neutron [keystone_authtoken] auth_url passa da 35357 a 5000
   $neutron_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000' 
   ###
   $nova_api_db = ''
   $nova_cinder_endpoint_template = ''
   $nova_db = ''
   $nova_password = ''
   ## FF da queens nova_keystone_authtoken e nova_placement_auth_url cambiano porte da 35357 a 5000 
   $nova_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000/v3'
   $nova_placement_auth_url = 'http://xxx.xxx.xxx.xxx:5000/v3'
   ## FF in rocky si puo' creare il DB placement, con relativa connection url. Se non viene creato si continua ad usare solo il nova_api db
   #$nova_placement_db = '' }
   ###
   $nova_disk_allocation_ratio = ''
   $nova_ram_allocation_ratio = ''
   $private_key = ''
   $project_name = 'services'
   $pub_key = "ssh-rsa "   
   #$rabbit_hosts = ''
   $vip_mgmt = ''
   $vip_pub = ''
########
   $placement_password = ''
   $transport_url = ''

   ### AAI DB Setting
   $aai_db_host = ""
   $aai_db_port = 0
   $aai_db_name = ""
   $aai_db_user = ""
   $aai_db_pwd = ""

   $aai_mail_host = ""
   $aai_mail_port = 25
   $aai_mail_user = ""
   $aai_mail_pwd = ""
   $aai_mail_sender = ""
   $aai_mail_admins = {'Cloud Support', ''}
    
   $is_production = true
   } 
    
   if $::controller_ussuri::cloud_role == "is_test"    {

   ##########################################
   # Cloud di test
   $site_fqdn = "cloud-areapd-test.pd.infn.it"
   $cv_site_fqdn = "cloudveneto-test.ict.unipd.it"
   $keystone_cap_fqdn = "keystone-cv-test.pd.infn.it"
   $keystone_cv_fqdn = "keystone-cv-test.ict.unipd.it"
   $admin_password = ''
   $admin_token = ''
   $auth_uri = 'http://xxx.xxx.xxx.xxx:5000'
   $auth_url = 'http://xxx.xxx.xxx.xxx:5000'
   #########
   $ceilometer_connection = ''
   $ceilometer_service_credentials_auth_url = ''
   $ceilometer_password = ''
   $cinder_db = ''
   ## FF da queens cambia la porta, /etc/cinder/cinder.conf [keystone_authtoken] auth_uri = http://controller:5000 e auth_url = http://controller:5000
   $cinder_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
   $cinder_password = ''  
   $cinder_public_endpoint = ''
#######
   $cinder_ceph_rbd_pool = ''
   $cinder_ceph_rbd_secret_uuid = ''
   $cinder_ceph_rbd_user = ''
######
   $dhcp-option-force = ''
   $dnsmasq_config_file = '/etc/neutron/dnsmasq-neutron.conf'
#########
   $ec2_password = ''
   $ec2_db = ''
   $ec2_external_network = ''
   $ec2_keystone_url = ''
   $glance_db = ''
   $glance_api_servers = ''
   $glance_password = ''
   ## FF da queens [keystone_authtoken] auth_url gira sulla porta 5000
   $glance_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
###ceph
   $glance_api_rbd_store_pool = ''
   $glance_api_rbd_store_user = ''
#### 
   $keystone_admin_endpoint =  ''
   $keystone_db =  ''
   $keystone_public_endpoint =  ''
   ## FF in rocky [keystone_authtoken] auth_uri diventa www_authenticate_uri
   ## Ma secondo la documentazione bisogna specificare l'endpoint pubblico
   $www_authenticate_uri = 'https://xxx.xxx.xxx.xxx:5000'
   $heat_db = ''    
   $heat_metadata_server_url = ''
   $heat_password = ''
   $heat_stack_domain_admin_password = ''
   $heat_waitcondition_server_url = ''
   $memcached_servers = ''
   $memcached_servers_horizon = ''
   $metadata_proxy_shared_secret = ''
   $ml2_bridge_mappings = 'external:br-ex'
   ## FF in rocky [neutron] auth_url passa da 35357 a 5000
   $neutron_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
   $neutron_db = ''
   $neutron_password = ''
   ### FF DEPRECATED in ROCKY [neutron]url diventa [neutron]endpoint_override 
   #$neutron_url = ''
   $neutron_endpoint_override = ''
   ##FF in rocky per neutron [keystone_authtoken] auth_url passa da 35357 a 5000
   $neutron_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000' 
   ###
   $nova_api_db = ''
   $nova_cinder_endpoint_template = ''
   $nova_db = ''
   $nova_password = ''
   ## FF da queens nova_keystone_authtoken e nova_placement_auth_url cambiano porte da 35357 a 5000 
   $nova_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000/v3'
   $nova_placement_auth_url = 'http://xxx.xxx.xxx.xxx:5000/v3'
   ## FF in rocky si puo' creare il DB placement, con relativa connection url. Se non viene creato si continua ad usare solo il nova_api db
   #$nova_placement_db = '' }
   ###
   $nova_disk_allocation_ratio = ''
   $nova_ram_allocation_ratio = ''
   $private_key = ''
   $project_name = 'service'
   $pub_key = "ssh-rsa "     
   # $rabbit_hosts = ''  
   $vip_mgmt = ''
   $vip_pub = ''
####
   $placement_password = ''
   $transport_url = ''

   ### AAI DB Setting
   $aai_db_host = ""
   $aai_db_port = 0
   $aai_db_name = ""
   $aai_db_user = ""
   $aai_db_pwd = ""

   $aai_mail_host = ""
   $aai_mail_port = 25
   $aai_mail_user = ""
   $aai_mail_pwd = ""
   $aai_mail_sender = ""
   $aai_mail_admins = {'Cloud Support', ''}
    
   $is_production = false
   }
   ### Admin account on mysql
   $mysql_admin_password = "undefined"

   ##########################################
   # Attributi validi sia per la cloud di test che quella di produzione
   $admin_user = 'admin'
   $allow_automatic_dhcp_failover = true
   $allow_resize = true
   $auth_plugin = 'password'
   $auth_strategy = 'keystone'
   $auth_type = 'password'
   $cafile = ''
   $ceilometer_default_log_levels='amqp=WARN,amqplib=WARN,boto=WARN,qpid=WARN,sqlalchemy=WARN,suds=INFO,oslo.messaging=INFO,iso8601=WARN,requests.packages.urllib3.connectionpool=WARN,urllib3.connectionpool=WARN,websocket=WARN,requests.packages.urllib3.util.retry=WARN,urllib3.util.retry=WARN,keystonemiddleware=WARN,routes.middleware=WARN,stevedore=WARN,taskflow=WARN,keystoneauth=WARN,oslo.cache=INFO,dogpile.core.dogpile=INFO,ceilometer.hardware.discovery=ERROR,ceilometer.transformer.conversions=ERROR'
   $ceilometer_metering_time_to_live = '6912000'
   $ceilometer_service_credentials_interface = 'internalURL'
   $ceilometer_username = 'ceilometer'
   $ceilometer_verbose = false
####
   $ceilometer_meter_dispatchers = [ 'database', 'gnocchi' ]
   $ceilometer_event_dispatchers = [ 'database', 'gnocchi' ]
   $ceilometer__dispatcher_gnocchi__archive_policy = "low"
   $ceilometer__dispatcher_gnocchi__filter_service_activity = true
####
   $ceph_glance_api_version = '2'
   $ceph_rados_connect_timeout = '-1'
   $ceph_rbd_ceph_conf = '/etc/ceph/ceph.conf'
   $ceph_rbd_flatten_volume_from_snapshot = false
   $ceph_rbd_max_clone_depth = '5'
   $ceph_rbd_store_chunk_size = '4'
   $ceph_volume_backend_name = 'ceph'
   $ceph_volume_driver = 'cinder.volume.drivers.rbd.RBDDriver'
   $ceph_volume_group = 'ceph'
   $cinder_ceph_rbd_exclusive_cinder_pool = true
   $cinder_default_volume_type = 'ceph'
   $cinder_enabled_backends = 'ceph,iscsi-infnpd'
   $cinder_glusterfs_shares_config = '/etc/cinder/shares'
   $cinder_iscsi_helper = 'tgtadm'
   ###iscsi params
   $cinder_iscsi_nfs_nas_secure_file_permissions = false
   $cinder_iscsi_nfs_mount_point_base = '/var/lib/cinder/nfs'
   $cinder_iscsi_shares_config = '/etc/cinder/shares'
   ####
   $cinder_lock_path = '/var/lib/cinder/tmp'
   $cinder_my_ip = $::mgmt_ip
   $cinder_gluster_nas_volume_prov_type = 'thin'
   $cinder_nas_volume_prov_type = 'thin'
   $cinder_notification_driver = 'messagingv2'
   $cinder_username = 'cinder'
   $cinder_verbose = false
   $cinder_volume_driver = 'cinder.volume.drivers.glusterfs.GlusterfsDriver'
   $dhcp_agents_per_network = '2'
   $dhcp_driver = 'neutron.agent.linux.dhcp.Dnsmasq'
   $ec2_cache_backend ='oslo_cache.dict'
   $ec2_cache_enabled = true
   $ec2_cinder_service_type = 'volumev3'
   $ec2_lock_path = '/var/lib/ec2-api/tmp'
   $ec2_user = 'ec2_user'
   $ec2_full_vpc_support = false
   #$ec2_identity_uri = $auth_url
   $ec2_log_file = '/var/log/ec2api/ec2api.log'
   $ec2_logging_context_format_string = '\"%(asctime)s.%(msecs)03d %(levelname)s %(name)s [%(request_id)s %(user_name)s %(project_name)s] %(instance)s%(message)s\"'
   $ec2_my_ip = $vip_mgmt
   $ec2_nova_metadata_ip = $vip_mgmt
   $ec2_verbose = false
   ## FF da queens in poi
   #$ec2_port = ''
   #$ec2api_listen_port = ''
   #$ec2_api_paste_config = ''
   #$ec2_disable_ec2_classic = ''
   #$ec2_nova_metadata_port = ''
   ###
   $eqlog_eqlx_group_name = 'CloudUnipdVeneto'
   $eqlog_eqlx_pool = 'default'
   $eqlog_san_ip = ''
   $eqlog_san_login = ''
   $eqlog_san_password = ''
   $eqlog_volume_driver = 'cinder.volume.drivers.dell_emc.ps.PSSeriesISCSIDriver'
   $eqlog_volume_group = 'equallogic-unipd'
   $eqlog_volume_backend_name = 'equallogic-unipd'
   $enable_fip_topology_check = 'False'
   $flavor = 'keystone'
   ##
   $glance_api_version = '2'
   ##  $glance_container_formats = 'ami,ari,aki,bare,ovf,ova,docker'
   $glance_image_size_cap = '26843545600'
   $glance_notification_driver = 'messagingv2'
   $glance_api_default_store = 'rbd'
   $glance_api_rbd_store_chunk_size = '8'
   $glance_api_node_staging_path = '/Images/staging/'
   $glance_api_node_staging_uri = 'file:///Images/staging/'
   $glance_api_show_image_direct_url = true
   $glance_api_show_multiple_locations = true
   $glance_enable_v1_api = 'True'
   $glance_api_enabled_backends	= 'file:file,http:http,rbd:rbd'
#   $glance_store = 'file,http,rbd'
   $glance_store = 'http,rbd'
   $glance_store_datadir = '/var/lib/glance/images/'
   $glance_username = 'glance'
   $glance_verbose = false
   $gluster_volume_backend_name = 'gluster'
   $gluster_volume_driver = 'cinder.volume.drivers.glusterfs.GlusterfsDriver'
   $gluster_volume_group = 'gluster'
   $heat_clients_keystone_auth_uri = $auth_url
   $heat_endpoint_type = 'publicURL'
   $heat_insecure = true
   $heat_stack_domain_admin = 'heat_domain_admin'
   $heat_stack_user_domain_name = 'heat'
   $heat_username = 'heat'
   $heat_verbose = false
   $horizon_secret_key = ''
##################
   $enable_proxy_headers_parsing = true
##################
   # MS: openvswitch si puo` usare al posto di neutron.agent.linux.interface.OVSInterfaceDriver                                                                                                  
   # $interface_driver = 'neutron.agent.linux.interface.OVSInterfaceDriver'                                                                                                                      
   $interface_driver = 'openvswitch'
#####iscsi params
   $iscsi_volume_backend_name = 'iscsi-infnpd'
   $iscsi_volume_driver = 'cinder.volume.drivers.nfs.NfsDriver'
   $iscsi_volume_group = 'iscsi-infnpd'
#####
   $keystone_verbose = false
   $keystone_token_provider = 'fernet'
   $l3_external_network_bridge = ''
   ###
   # FF in Pike gateway_external_network_id diventa external_network_bridge
   #$l3_gateway_external_network_id = ''
   $l3_external_network_id = ''
   ###
   $ml2_enable_ipset = true
   $ml2_enable_security_group = true
   # Shorter name for ml2_firewall_driver                                                                                                                                             
   $ml2_firewall_driver = 'iptables_hybrid'
   # $ml2_firewall_driver = 'neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver'    
   $ml2_flat_networks = '*'
   $ml2_local_ip = $::data_ip
   $ml2_mechanism_drivers = 'openvswitch'
   $ml2_tenant_network_types = 'gre'
   $ml2_tunnel_id_ranges = '1:1000'
   $ml2_tunnel_types = 'gre'
   $ml2_type_drivers = 'gre,flat,vlan,vxlan'
   $neutron_allow_automatic_l3agent_failover = true
   $neutron_allow_overlapping_ips = true
   $neutron_core_plugin = 'ml2'
   $neutron_l3_ha = true
   $neutron_lock_path = '/var/lib/neutron/tmp'
   $neutron_max_l3_agents_per_router = '2'
   $neutron_min_l3_agents_per_router = '2'
   $neutron_notify_nova_on_port_data_changes = true
   $neutron_notify_nova_on_port_status_changes = true
   $neutron_service_plugins = 'router'
   $neutron_username = 'neutron'
   $neutron_verbose = false
   $nova_cinder_catalog_info = 'volumev3:cinderv3:internalURL'
   $nova_cpu_allocation_ratio = '4.0'
   $nova_default_schedule_zone = 'nova'
   ### FF deprecato in PIKE
   ### MS ma la doc dice cmq di settarlo
   $nova_firewall_driver = 'nova.virt.firewall.NoopFirewallDriver'
   ###
   $nova_inject_key = true
   $nova_inject_partition = '-1'
   $nova_inject_password = true
   $nova_oslo_lock_path = '/var/lib/nova/tmp'
   $nova_scheduler_max_attempts = '10'
   $nova_host_subset_size = '10'
   $nova_username = 'nova'
   $nova_verbose = false
   $ovs_enable_tunneling = true
   $ovs_l2_population = true
   ###
   # FF deprecato in PIKE
   # MS ma senza non funziona
   $ovs_of_interface = 'ovs-ofctl'
   ###
   $project_domain_name = 'default'
   $quota_network = '1'
   $quota_subnet = '1'
   $quota_port = '51'
   $quota_router = '0'
   $quota_floatingip = '0'
   $region_name = 'regionOne'
   #$scheduler_default_filters e' stato sostituito con enabled_filters
   #$enabled_filters   = 'AggregateMultiTenancyIsolation,AggregateInstanceExtraSpecsFilter,RetryFilter,AvailabilityZoneFilter,RamFilter,CoreFilter,AggregateRamFilter,AggregateCoreFilter,DiskFilter,ComputeFilter,ComputeCapabilitiesFilter,ImagePropertiesFilter,ServerGroupAntiAffinityFilter,ServerGroupAffinityFilter'
   $enabled_filters   = 'AggregateMultiTenancyIsolation,AggregateInstanceExtraSpecsFilter,RetryFilter,AvailabilityZoneFilter,ComputeFilter,ComputeCapabilitiesFilter,ImagePropertiesFilter,ServerGroupAntiAffinityFilter,ServerGroupAffinityFilter'
   $service_metadata_proxy = true
   $token_expiration = '32400'
   $user_domain_name = 'default'
   $use_neutron = true
####
   $vnc_enabled = true
   $placement_username = 'placement'
   $enabled_apis = 'osapi_compute,metadata'
   
  ############################################################################
  #  Security params
  ############################################################################

  $host_cert = "/etc/grid-security/infn-cert.pem"
  $host_key = "/etc/grid-security/infn-key.pem"
  $unipd_cert = "/etc/grid-security/unipd-cert.pem"
  $unipd_key = "/etc/grid-security/unipd-key.pem"
  $keystone_infn_cert = "/etc/grid-security/keystone-infn-cert.pem"
  $keystone_infn_key = "/etc/grid-security/keystone-infn-key.pem"
  $keystone_unipd_cert = "/etc/grid-security/keystone-unipd-cert.pem"
  $keystone_unipd_key = "/etc/grid-security/keystone-unipd-key.pem"
  $crl_file_list = []

  ############################################################################
  #  AAI estensions
  ############################################################################
  
  $enable_aai_ext = false
  $cap_repo_url = "http://artifacts.pd.infn.it/packages/CAP/openstack-security-integrations_centos7_ocata.repo"
  $notification_plan = "5,10,20"

  ############################################################################
  #  Shibboleth params
  ############################################################################

  $enable_shib = true
  $shib_repo_url = "http://download.opensuse.org/repositories/security://shibboleth/CentOS_7/security:shibboleth.repo"
  $shib_info_url = "https://cloud-areapd.pd.infn.it/Users_Guide/html-desktop/"
  
  if $::controller_ussuri::cloud_role == "is_production" {
    $infnaai_ent_id = "https://idp.infn.it/saml2/idp/metadata.php"
    $shib_testing_md = false
  } else {
    $infnaai_ent_id = "https://idp.infn.it/testing/saml2/idp/metadata.php"
    $shib_testing_md = true
  }

  $unipdaai_ent_id = "https://shibidp.cca.unipd.it/idp/shibboleth"

  ############################################################################
  #  OpenID Connect params
  ############################################################################

  if $::controller_ussuri::cloud_role == "is_production" {

    $enable_oidc = false

  } else {

    $enable_oidc      = true
    $oidc_passphrase  = "xxxxxxxxxxx"
    $oidc_md_dir      = "/var/cache/httpd/mod_auth_openidc/metadata"
    $oidc_intro_ep    = ""

    $oidc_providers = {
      "dodas" => {
        "metadata"    => "https://dodas-iam.cloud.cnaf.infn.it/.well-known/openid-configuration",
        "iss"         => "https://dodas-iam.cloud.cnaf.infn.it/oidc/",
        "descr"       => "DODAS IAM",
        "map_tag"     => "dodas_sso",
        "map_local"   => "[{\"user\" : {\"name\" : \"{0}\", \"type\" : \"ephemeral\", \"email\" : \"{1}\" }, \"group\" : { \"id\" : \"*****\" }}]",
        "map_remote"  => "[{ \"type\" : \"OIDC-preferred_username\" }, { \"type\" : \"OIDC-email\" }]",
        "clients"     => {
            "${keystone_cap_fqdn}" => {
                "client_id"  => "xxxxxxxxxxx",
                "secret"     => "xxxxxxx"
            },
            "${site_fqdn}" => {
                "client_id"  => "xxxxxxxxxxx",
                "secret"     => "xxxxxxx"
            },
            "${keystone_cv_fqdn}" => {
                "client_id"  => "xxxxxxxxxxx",
                "secret"     => "xxxxxxx"
            },
            "${cv_site_fqdn}" => {
                "client_id"  => "xxxxxxxxxxx",
                "secret"     => "xxxxxxx"
            }
        }
      }
    }

  }

}
