#class compute_ussuri::params {
class compute_ussuri::params ($cloud_role) {
########creando la classe cloud_prod con parametro cloud_role posso introdurre la condizione production, test o qualunque altro tipo di cloud semplicemente sovrascrivendo via foreman il valore della variabile. Qui andrebbe ovviamente inserito un if per ogni tipo di cloud utilizzata con i parametri caratteristici della cloud

####
#  $approved_role = [
#    'is_test',
#    'is_prod_sharedstorage',
#    'is_prod_localstorage'
#  ]

#  validate_string($cloud_role, $approved_role)

###


 if $cloud_role == "is_prod_localstorage" or $cloud_role == "is_prod_sharedstorage" {

   ### Setting per la cloud di produzione
  $auth_uri = 'http://xxx.xxx.xxx.xxx:5000'
  $auth_url = 'http://xxx.xxx.xxx.xxx:35357'
  $ceilometer_auth_url = ''      
  $ceilometer_password = '' 
  $disk_allocation_ratio = '' 
  $endpoint_template = 'http://:xxxxxx:8776/v2/%(project_id)s' 
  $glance_api_servers   = ''   
  $libvirt_rbd_key = ''
  $libvirt_rbd_secret_uuid = ''
  $libvirt_rbd_user = ''
  $memcached_servers    = ''
  ## FF in rocky [neutron] auth_url passa dalla porta 35357 a 5000 
  $neutron_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
  $neutron_password   = ''
  ### FF DEPRECATED in ROCKY [neutron]url --> [neutron]endpoint_override
  #$neutron_url          = ''        
  $neutron_endpoint_override = ''   
  ###     
  ## FF in rocky neutron [keystone_authtoken] auth_url passa da porta 35357 a 5000
  neutron_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
  $novncproxy_base_url = 'https://xxxxxx:6080/vnc_auto.html'
  $nova_password  = ''
  ## FF da queens queste porte da 35357 a 5000
  $nova_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
  #$placement_auth_url = 'http://xxx.xxx.xxx.xxx:35357/v3'
  $nova_placement_auth_url = 'http://xxx.xxx.xxx.xxx:5000/v3'
  ##
  $placement_username = 'placement'
  $placement_password = ''
  $private_key          = 'id_rsa_ctrl-01'     
  $project_name         = 'services'
  $pub_key              = "ssh-rsa "
  $volume_glusterfs     = 'volume-nova-prod'
  $volume_glusterfs_ip  = 'xxxx'
  $volume_glusterfs_log_ip = 'xxxx'
  $www_authenticate_uri = 'https://xxx.xxx.xxx.xxx:443'

                                     }  

 if $cloud_role == "is_test" {
   ### Setting per la cloud di test
  $auth_uri = 'http://xxx.xxx.xxx.xxx:5000'
  $auth_url = 'http://xxx.xxx.xxx.xxx:35357'
  ##
  $ceilometer_auth_url = 'http://xxxx:5000/v3'       
  $ceilometer_password = ''       
  $disk_allocation_ratio = '5.0'
  $endpoint_template = 'http://:xxxxxx:8776/v2/%(project_id)s' 
  $glance_api_servers   = 'http://xxxx:9292'
####per ceph
  $libvirt_rbd_key = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxx=='
  $libvirt_rbd_secret_uuid = ''
  $libvirt_rbd_user = 'cinder-cloudtest'
  $memcached_servers    = 'x'
  ## FF in rocky [neutron] auth_url passa dalla porta 35357 a 5000 
  $neutron_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
  $neutron_password   = ''
  ## FF in rocky neutron [keystone_authtoken] auth_url passa da porta 35357 a 5000
  $neutron_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
  ### FF DEPRECATED in ROCKY [neutron]url --> [neutron]endpoint_override
  #$neutron_url          = ''          
  $neutron_endpoint_override = ''  
  ###         
  $novncproxy_base_url = 'https://xxxxx:6080/vnc_auto.html'
  $nova_password  = 'NOVA_PASS'
  ## FF da queens queste porte da 35357 a 5000
  $nova_keystone_authtoken_auth_url = 'http://xxx.xxx.xxx.xxx:5000'
  #$placement_auth_url = 'http://xxx.xxx.xxx.xxx:35357/v3'
  $nova_placement_auth_url = 'http://xxx.xxx.xxx.xxx:5000/v3'
  ##
  $placement_username = 'placement'
  $placement_password = ''
  $private_key          = 'id_rsa_controller-01'
  $project_name         = 'service'
  $pub_key              = "ssh-rsa "       
###transport url in ocata al posto di rabbit hosts
  $transport_url = 'rabbit://openstack:'   
  $www_authenticate_uri = 'https://xxx.xxx.xxx.xxx:443'
###aggiunto anche
      
                              }

   ### Setting validi sia per la cloud di test che per quella di produzione
  
  ####nel file della guida non trovo allow resize e gli altri param commentati    
  
  $allow_resize            = true     
  $allow_overlapping_ips   = true
  $auth_strategy = 'keystone'
  $auth_type = 'password'
  $cafile                  = '/etc/grid-security/certificates/cafile.pem'
  $ceilometer_interface = 'internalURL'       
  $ceilometer_username   = 'ceilometer'       
  $core_plugin = 'ml2'
  #$cpu_allocation_ratio    = '4.0'
  
  ###cpu e ram allocation per cld-np-09
   if $::mgmt_ip == "" {
        $cpu_allocation_ratio    = '1.0'
        $ram_allocation_ratio    = '1.0'
        }
    else {         
         $cpu_allocation_ratio    = '4.0'
         $ram_allocation_ratio    = '1.5'
         }
  $enable_ipset            = true
  $enable_security_group   = true
  $enable_tunneling        = true       
  #Per distinguere local o shared storage per i compute posso aggiungere una variabile se localstorage if $cloud_strg == "is_local" o "is_shared"    
  # Non piu` necessario perche` usiamo host-passthrough dappertutto
#  if $cloud_role == "is_prod_localstorage" or $cloud_role == "is_test" {
  $libvirt_cpu_mode        = 'host-passthrough'
#                                }
#  if $cloud_role == "is_prod_sharedstorage" {
#  $libvirt_cpu_mode        = 'custom'
#  $libvirt_cpu_model       = 'kvm64'
#                                }  
  $libvirt_inject_key      = true
  $libvirt_inject_part     = '-1'     
  $libvirt_inject_pass     = true       
  #$linuxnet_int_driver     = 'nova.network.linux_net.LinuxOVSInterfaceDriver'
  #$live_migration_flag     = 'VIR_MIGRATE_UNDEFINE_SOURCE,VIR_MIGRATE_PEER2PEER,VIR_MIGRATE_LIVE'
  $mechanism_drivers       = 'openvswitch'       
  $my_ip = $::mgmt_ip
  $neutron_firewall_driver = 'neutron.agent.linux.iptables_firewall.OVSHybridIptablesFirewallDriver'       
  $neutron_lock_path               = '/var/lib/neutron/tmp'       
  $neutron_username      = 'neutron'       
  $nova_enabled_apis = 'osapi_compute,metadata'
  $nova_firewall_driver    = 'nova.virt.firewall.NoopFirewallDriver'
#  $nova_instance_usage_audit = true
  $nova_instance_usage_audit = false
  $nova_instance_usage_audit_period = 'hour'
  $nova_notification_driver = 'messagingv2'
  $nova_notify_on_state_change = 'vm_and_task_state'       
  $nova_lock_path               = '/var/lib/nova/tmp'
  $nova_preallocate_images    	= 'space'
  $nova_username         = 'nova'     
  $nova_use_neutron = true
  $ovs_local_ip            = $::data_ip       
####aggiunti come da doc aggiornamento a ocata
  $ovs_ovsdb_interface = 'vsctl'
  $ovs_of_interface = 'ovs-ofctl'
###
  $project_domain_name = 'default'
  $region_name             = 'regionOne'       
  $service_plugins         = 'router'
  $tenant_network_types    = 'gre'
  $tunnel_id_ranges        = '1:1000'
  $tunnel_types            = 'gre'       
  $type_drivers            = 'flat,vlan,gre,vxlan'       
  $user_domain_name = 'default'
  ### FF MODIFIED IN QUEENS [vnc]vncserver_listen --> [vnc]server_listen and [vnc]vncserver_proxyclient_address -->w [vnc]server_proxyclient_address
  $vnc_server_listen = '0.0.0.0'
  ###
  $vnc_enabled = true
  $project_domain_id = 'default'
  $user_domain_id = 'default'

  # ceilometer
  $ceilometer_compute_instance_discovery_method = 'naive'
}  

